@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body{
	height: 1290px;
	background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.5)),url(rd.jpg) no-repeat center center/cover;
	margin:0;
	 font-family: "Roboto", sans-serif;
}
#w2{
	position: relative;
	width: 240px;
	height: 100px;
}
#forms{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	position: relative;
	width: 450px;
	left: 450px;
	height: 700px;
	align-items: center;
	align-content: center;
}
#forms form{
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	position: relative;
	top: -60px;

}
form h1{
	color: white;
}
form h4{
	color: #737373;
}
form input{
	background-color: #333333;
}
#k1{
	padding: 10px;
	position: relative;
	width: 295px;
	height: 30px;
	left: -120px;
	border-style: solid;
	border-color:#333333 ;
	top: -100px;
	border-radius: 4px;
}
#k2{
	position: relative;
	bottom: 70px;
	height: 30px;
	width: 295px;
	border-style: solid;
	border-color:#333333 ;
	border-radius: 4px;
	padding: 10px;
	left: -120px;

}
form label{
	font-size: 18px;
	position: relative;
	top: -115px;
	left: -120px;
}
.g1{
	height: 800px;
	width: 100px;
}
#k3{
	color: white;
	text-decoration: none;
	padding: 10px;
	width: 295px;
	height: 2000px;
	background-color: #E50914;
	text-align: center;
	border-radius: 5px;
	position: relative;
	top: -20px;
	left: -10px;
}
#w3{
	position: relative;
	left: -115px;
	top: -15px;
}
#w3 input{
	background-color: #E50914;
}
#w6{
	position: relative;
	top: -57px;
	left: -90px;
}
#w4{
	position: relative;
	top: -95px;
	left: 120px;
}
#w5{
	
	font-weight: none;
	position: relative;
	color: white;
	top: -80px;
	font-size: 14px;
	left: -15px;
	bottom: 80px;
}
#t1{
	font-size: 15px;
	color: #737373;
	position: relative;
	left: 35px;

}
#j1{
	position: relative;
	top: 55px;
	left: -15px;
	height: 39px;
	width: 45px;
}
#w5 h3,p{
	color: #737373;
}
#i1{
	color: white;
	text-decoration: none;
	font-weight: none;
	font-size: 15px;

}
#i2{
	text-decoration: none;
	color: #0071EB;
}
#foot{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #517575;
	background-color: rgba(0, 0, 0, 0.4);
	height: 380px;
	position: relative;
	top: 100px;

}
#foot table{
	position: relative;
	top: -20px;
	border-spacing: 30px;
	height: -150px;
}
#foot select{
	position: relative;
	height: 40px;
	background-color: black;
	color:#737373 ;
	border-radius: 3px;
	top: 335px;
	left: -670px;
}
